@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

/* Background Image */
body{
  background-image: url(philippines-flag.jpg);
  
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size:  100%;
}

/* body content */
.container-body{
  background-color: #B9EDDD;
}
/* h2 */
h2 {
  color: #139e93;
} 
/* hr */
hr {
  background-color: #16776f;
  width: 250px;
  margin: 15px auto;
  height: 5px;
}


i {
  /* icon */
  font-size: 22px;
  margin-bottom: 15px;
  color: #000000;
}
h2{
  font-size: medium;
}
h3 {
  font-weight: bold;
}

/* FOR READMORE/READLESS BUTTON */
.label1,
.label2,
.label3,
.label4,
.label5,
.label6 {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  background-color: rgb(22, 22, 231);
  padding: 3px 13px;
  border-radius: 3px;
  margin-top: 12px;
}

/* FOR CARD 1 AND 2 */
.check1,
.check2 {
  display: none;
}

.content1,
.content2 {
  display: none;
}

/* FOR 1 */
#check1:checked~.content1 {
  display: block;
}

#check1:checked~.label1 {
  display: none;
}

/* FOR 2 */
#check2:checked~.content2 {
  display: block;
}

#check2:checked~.label2 {
  display: none;
}

/* END OF CARD 1 AND 2 */

/* FOR CARD 3 AND 4 */
.check3,
.check4 {
  display: none;
}

.content3,
.content4 {
  display: none;
}

#check3:checked~.content3 {
  display: block;
}

#check3:checked~.label3 {
  display: none;
}

#check4:checked~.content4 {
  display: block;
}

#check4:checked~.label4 {
  display: none;
}

/* END OF CARD 3 AND 4 */

/* FOR CARD 3 AND 4 */
.check5,
.check6 {
  display: none;
}

.content5,
.content6 {
  display: none;
}

#check5:checked~.content5 {
  display: block;
}

#check5:checked~.label5 {
  display: none;
}

#check6:checked~.content6 {
  display: block;
}

#check6:checked~.label6 {
  display: none;
}

/* END OF CARD 3 AND 4 */

.img{
  height: 110px;
  width: 110px;
}


/* Navbar */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


/* Body of Navbar*/
nav {
  background: #004b91;
  padding: 5px 40px;
}

/* Justify content for navbar content*/
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Padding*/
nav ul li {
  padding: 15px 0;
  cursor: pointer;
}

/* Padding*/

nav ul li.items {
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}

/* Nav Position */

nav ul li.items:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #ffffff;
  opacity: 0;
  transition: all 0.2s linear;
}


/* Nav Hover */
nav ul li.items:hover:after {
  opacity: 1;
  bottom: 8px;
}

/* Nav Logo */

nav ul li.logo {
  flex: 1;
  color: white;
  font-size: 40px;
  font-weight: 600;
  cursor: default;
  user-select: none;
}

/* Nav Fonts */

nav ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: .4s;
}

/* Nav Hover 2 */

nav ul li:hover a {
  color: rgb(255, 255, 255);
}

/* Nav Font Size */
nav ul li i {
  font-size: 23px;
}

/* Nav Button */

nav ul li.btn {
  display: none;
}

nav ul li.btn.hide i:before {
  content: '\f00d';
}

/*BreakPoint for Navbar*/

@media all and (max-width: 900px) {
  nav {
    padding: 5px 30px;
  }

  nav ul li.items {
    width: 100%;
    display: none;
  }

  nav ul li.items.show {
    display: block;
  }

  nav ul li.btn {
    display: block;
  }

  nav ul li.items:hover {
    border-radius: 5px;
    box-shadow: inset 0 0 5px #004b91,
      inset 0 0 10px #004b91;
  }

  nav ul li.items:hover:after {
    opacity: 0;
  }
}


 /*Footer*/

footer {
  background-color: #f2f2f2;
  padding: 1px 0;
}

/* Container for Footer */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* Footer Padding */
.col-md-4 {
  padding: 0 15px;
}


/* H4 for Footer */
h4 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* P for Footer */
p {
  margin-bottom: 20px;
}

/* Icons of the Footer */
.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Socials Section */

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(201, 159, 159, 0.432);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #000000;
  transition: all 0.5s ease;
}

/* Social Section Hover */
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #646464;
}

/*Display For Footer*/

.fa {
  display: inline-block;
  font-size: 1.5rem;
  width: 20px;
  height: 30px;
  line-height: 20px;
  text-align: center;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

